<div class="container pt-5">
  <div class="row card mt-5">
    <div class="card-header">
      <!-- Button trigger modal -->
      <button>Novo</button>
    </div>
    <!-- FIM CARD HEADER -->
    <div class="card-body table-responsive">
      <table class="table">
        <thead class="table-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Reagente</th>
            <th scope="col">Lote</th>
            <th scope="col">Fabricante</th>
            <th scope="col">Fabricação</th>
            <th scope="col">Validade</th>
            <th scope="col">QTD</th>
            <th scope="col">Embalagem Original</th>
            <th scope="col">CAS</th>
            <th scope="col">Ações</th>
          </tr>
        </thead>
        <tbody>
          {{itens}}
        </tbody>
      </table>
      {{pagination}}
    </div>
  </div>
</div>
<section id="estoque"></section>
