<nav class="navbar fixed-top navbar-expand-lg navbar-dark">
  <div class="container">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mt-3 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="{{URL}}">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">CONTATO</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">PRIVACIDADE</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">TERMOS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">SUPORTE</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="d-flex mt-5 pt-4 pt-md-4 justify-content-center">
  <div class="card mt-5 mx-3 px-md-0 text-center" style="width: 500px">
    <div class="card-header py-3">
      <h1 class="text-orange fw-bold">GM FARM UNICEPLAC</h1>
    </div>
    <div class="card-body">
      {{status}}
      <form method="post">
        <div class="form-floating mb-3">
          <input
            type="email"
            class="form-control"
            name="email"
            id="email"
            placeholder="endereço@email.com"
          />
          <label for="email">E-mail</label>
        </div>
        <div class="form-floating mb-3">
          <input
            type="password"
            class="form-control"
            name="senha"
            id="senha"
            placeholder="senha"
          />
          <label for="senha">Senha</label>
        </div>
        <div class="mb-3">
          <button type="submit" class="btn btn-primary">Entrar</button>
        </div>
      </form>
    </div>
  </div>
</div>
